  body {
    font-size: 14px;
    line-height: 1.7;
    color: black;
    font-weight: normal;
    font-family: PT Sans Narrow, Arial, sans-serif;
  }

  .features-title, .product-title, .event-title {
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
  }

  .features-title {
    color: white;
  }
